<div class="why-choose flex py-8 px-32">
    <div class="why-text">
        <h2>Tại sao bạn nên lựa chọn bánh sinh nhật Savor Cake</h2>
        <p>Hãy cùng tìm hiểu những đặc điểm nổi bật của Savor Cake nhé!</p>
    </div>
    <div class="reason flex flex-col items-center mx-5">
        <div class="content">
            <img src="../../../assets/images/ship.png" alt="">
            <p class="font-bold">Đội ngũ chuyên ship 12 quận Hà Nội. Freeship từ 300k</p>
        </div>
 
    </div>
    <div class="reason flex flex-col items-center mx-5">
        <div class="content fruits">
            <img src="../../../assets/images/fruits.png" alt="">
            <p class="font-bold">Sử dụng nhiều loại hoa quả tươi nhất: dâu, nho, bơ, xoài, chanh leo, việt quất</p>
        </div>
 
    </div>
    <div class="reason flex flex-col items-center mx-5">
        <div class="content">
            <img src="../../../assets/images/cake.png" alt="">
            <p class="font-bold">Đa dạng size bánh chỉ từ 150k, hơn 100 mẫu</p>
        </div>
 
    </div>
    <div class="reason flex flex-col items-center mx-5">
        <div class="content">
            <img src="../../../assets/images/feVat.png" alt="">
            <p class="font-bold">Có xuất hóa đơn VAT</p>
        </div>
 
    </div>
</div>