<div class="more-ingredients py-8 px-32 relative">
    <h2 class="mb-8">🥭 Thêm nhân hoa quả 🍍</h2>
    <div class="more-ingredients-img flex justify-between">
        <div class="imgBox">
            <img src="../../../assets/images/nhan_xoai_dua2.jpeg" alt="">
        </div>
        <div class="imgBox">
            <img src="../../../assets/images/nhan_xoai_dua3.jpeg" alt="">
        </div>
        <div class="imgBox">
            <img src="../../../assets/images/nhan_xoai_dua1.jpeg" alt="">
        </div>
    </div>
    <div class="detail">
        <p class="desc">Nếu trước đây Savor chỉ có nhân xoài tươi cho cả nhà lựa chọn, thì hiện tại Savor đã bổ sung
            thêm các loại nhân hoa quả khác, đặc biệt phải kể: NHÂN XOÀI DỨA - Sự kết hợp hoàn hảo giữa vị chua của dứa
            cân bằng với vị ngọt của xoài cùng hương thơm tươi mát, dịu nhẹ <br> ~~~~~~~~~~~~~~~~~~~~~</p>
        <p class="desc">💰 Chỉ cần thêm một chút phí nho nhỏ tùy theo size bánh
            <br>👉 Size mini: 10k/60g
            <br>👉 Size nhỏ: 25k/150g
            <br>👉 Size vừa: 40k/240g
        </p>
        <p class="desc">⚠️ Lưu ý: Các mẫu bánh Mousse không được áp dụng thêm nhân hoa quả, cả nhà nhắn Savor để được tư vấn các mẫu bánh nha</p>
        <a href="https://m.me/savor.vn" target="_blank" class="inbox" ><p>Inbox ngay</p></a>
    </div>
    <img src="../../../assets/images/product-bot-wave.png" alt="" class="wave">
</div>