<div class="policy py-12" id="policy">
    <h2>Chính sách ship & bán hàng</h2>
    <div class="base"></div>
    <p>Bấm để xem thêm chi tiết TẠI ĐÂY 👈</p>
    <div class="policy-list flex justify-center">
        <div class="policy-item">
            <img src="../../../assets/images/cod.jpeg" alt="">
        </div>
        <div class="policy-item">
            <img src="../../../assets/images/vc.png" alt="">
        </div>
        <div class="policy-item">
            <img src="../../../assets/images/cash-back.jpeg" alt="">
        </div>
    </div>
    <!-- <h2 class="mt-8">"Biệt đội" Ship hỏa tốc</h2>
    <div class="base"></div>
    <p style="width: 760px;">Savor Cake xây dựng đội ngũ Shipper chuyên nghiệp & thân thiện, giao hàng nhanh chóng đến
        tay khách yêu trong vòng 1H</p>
    <div class="policy-ship">
        <div class="policy-ship-item" style="grid-row-start: 1;
        grid-column-start: 1; grid-area: span 1 / span 1 / span 1 / span 1;">
            <img src="../../../assets/images/ship2.png" alt="">
        </div>
        <div class="policy-ship-item" style="grid-row-start: 2;
        grid-column-start: 1; ">
            <img src="../../../assets/images/ship2.png" alt="">
        </div>
        <div class="policy-ship-item" style="grid-row-start: 1;
        grid-column-start: 2; grid-area: span 2 / span 1 / span 2 / span 1;">
            <img src="../../../assets/images/shipperCol.png" alt="">
        </div>
        <div class="policy-ship-item" style="grid-row-start: 1;
        grid-column-start: 3;">
            <img src="../../../assets/images/ship2.png" alt="">
        </div>
        <div class="policy-ship-item" style="grid-row-start: 2;
        grid-column-start: 3;">
            <img src="../../../assets/images/ship2.png" alt="">
        </div>
    </div> -->
</div>