<div class="footer px-24 py-6" id="footer">
    <div class="footer-content flex justify-between">
        <div class="contact">
            <h3 class="font-bold mb-2">Thông tin liên hệ</h3>
            <div class="contact-hotline">
                <p class="my-1">Hotline tư vấn: 1900 77 99 77</p>
                <p class="my-1">Hotline tư vấn: 1900 77 99 77</p>
                <p class="my-1">Hotline tư vấn: 1900 77 99 77</p>
                <p class="my-1">Hotline tư vấn: 1900 77 99 77</p>
            </div>
        </div>
        <div class="our-brand">
            <h3 class="text-center">Our brands</h3>
            <div class="brands-logo flex">
                <div class="imgBox">
                    <img src="../../../assets/images/abby-logo.png" alt="">
                </div>
                <div class="imgBox">
                    <img src="../../../assets/images/bread-logo.png" alt="">
                </div>
            </div>
        </div>
        <div class="link">
            <h3 class="text-center">Liên kết</h3>
            <div class="flex justify-center">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 320 512"
                    class="Footer___StyledFaFacebookF-sc-1c0rncq-21 ifUyex" style="width: 25px; height: auto;"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
                    </path>
                </svg>
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512"
                    class="Footer___StyledFaTiktok2-sc-1c0rncq-24 cuoiEG" style="width:35px; height: auto;"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z">
                    </path>
                </svg>
            </div>
            <div class="imgBox">
                <img src="../../../assets/images/bct.png" alt="">
            </div>
        </div>
    </div>
    <div class="footer-news flex flex-col items-center">
        <h3>Báo chí nói gì về Savor Cake</h3>
        <div class="news-list flex items-center">
            <div class="imgBox">
                <img src="../../../assets/images/vtv.png" alt="">
            </div>
            <div class="imgBox">
                <img src="../../../assets/images/thanhnien.png" alt="">
            </div>
            <div class="imgBox">
                <img src="../../../assets/images/vietnamNetLogo.png" alt="">
            </div>
            <div class="imgBox">
                <img src="../../../assets/images/tienPhongLogo.png" alt="">
            </div>
            <div class="imgBox">
                <img src="../../../assets/images/vietnamNetLogo.png" alt="">
            </div>
            <div class="imgBox">
                <img src="../../../assets/images/cafefLogo.png" alt="">
            </div>
            <div class="imgBox">
                <img src="../../../assets/images/doanhNhanLogo.png" alt="">
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center p-4">
        <p>Công ty TNHH Savor Việt Nam. Giấy phép ĐKKD số 0108299106 cấp ngày 30/05/2018 bởi SKH&ĐT TP Hà Nội.</p>
    </div>
</div>