
.cake-item{
    gap: 10px;
    margin-bottom: 10px;
    .imgBox{
        width: 80px;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
   
}
.billStatus{
    display: inline-block;
    justify-content: end;
    margin: 10px;
    border: 1px solid black;
    padding: 5px;

}
button{
    background-color: #61985C;
    color: white;
    cursor: pointer;
    margin-right: 5px;
    padding: 5px;
}
table{
    width: 100%;
    
}
table td,input{
    font-size: 12px !important;
}
input::placeholder{
    font-size: 12px !important;
}
mat-label{
    font-size: 12px !important;
    display: block;
}
table td{
    padding-right: 15px;
}