<div class="header flex justify-center py-6 px-32 items-center">
    <div class="header-left" style="cursor: pointer;">
        <img [routerLink]="['/']" routerLinkActive="router-link-active"  src="../../../assets/images/savor-cakes-logo-white.png" alt="">
    </div>
    <div class="header-right">
        <ul class="flex">
            <li style="cursor: pointer;" [routerLink]="['/admin/cakes']" routerLinkActive="router-link-active" >Quản lý bánh sinh nhật</li>
            <li style="cursor: pointer;"  [routerLink]="['/admin/bill']">Quản lý đơn hàng</li>

        </ul>
    </div>
</div>