<div class="shop py-12" id="shop">
    <h2>Hệ thống cửa hàng</h2>
    <div class="base"></div>
    <div class="shop-list flex justify-center">
        <div class="shop-list-item">
            <h3>Savor Bread Phạm Ngọc Thạch</h3>
            <p><b>Giờ mở cửa: </b>7h-22h T2-CN</p>
            <p><b>Điện thoại: </b>0917 086 650 (Tư vấn)</p>
            <p><b>Địa chỉ: </b>105 Phạm Ngọc Thạch, Kim Liên, Đống Đa</p>
        </div>
        <div class="shop-list-item">
            <h3>Savor Bread Hồ Tùng Mậu</h3>
            <p><b>Giờ mở cửa: </b>7h-22h T2-CN</p>
            <p><b>Điện thoại: </b>0917 086 650 (Tư vấn)</p>
            <p><b>Địa chỉ: </b>105 Phạm Ngọc Thạch, Kim Liên, Đống Đa</p>
        </div>
        <div class="shop-list-item">
            <h3>Savor Bread Lạc Trung</h3>
            <p><b>Giờ mở cửa: </b>7h-22h T2-CN</p>
            <p><b>Điện thoại: </b>0917 086 650 (Tư vấn)</p>
            <p><b>Địa chỉ: </b>105 Phạm Ngọc Thạch, Kim Liên, Đống Đa</p>
        </div>
    </div>
   

</div>