<div clas="sasss" id="intro">
  <div class="banner py-8 px-20">
    <div class="banner-menu flex px-12 py-2 justify-between items-center">
      <div class="banner-menmu-left">
        <div class="imgBox">
          <img src="../assets/images/savor-cakes-logo-green.png" alt="" class="">
        </div>
      </div>

      <div class="banner-menu-right">
        <ul class="flex items-center">
          <li (click)="scrollToIntro()">Giới <br> thiệu</li>
          <li (click)="scrollToCategory()">Danh <br> mục</li>
          <li (click)="scrollToPolicy()">Chính <br> sách</li>
          <li (click)="scrollToShop()">Cửa <br> hàng</li>
          <li (click)="scrollToFooter()">Liên hệ</li>
        </ul>
      </div>
    </div>
    <div class="banner-ads flex justify-between pt-20 px-12">
      <div class="banner-ads-left">
        <img src="../assets/images/headOnly.png" alt="">
      </div>
      <div class="banner-ads-right">
        <img src="../assets/images/heroCakesMobi.png" alt="">
      </div>
    </div>
    <img src="../../../assets/images/left.png" class="left absolute" alt="">

  </div>

</div>