<div class="cake-collection-wrap relative">
    <h1>Bộ sưu tập bánh kem, bánh sinh nhật <br> <span>Savor Cake</span></h1>
    <div class="base-line"></div>
    <p>Mời bạn xem ngay hơn 100 mẫu bánh kem, bánh sinh nhật tươi ngon, đa dạng, giá chỉ từ 120k</p>
    <app-cake-collection-item [cakeType]="'endcake'" [collectionName]="'Bánh kem bế giảng'"></app-cake-collection-item>
    <app-cake-collection-item [cakeType]="'mousse'" [collectionName]="'Bánh mousse'"></app-cake-collection-item>
    <!-- <app-cake-collection-item [collectionName]="'Bánh kem whipping hoa quả'"></app-cake-collection-item> -->
    <img class="blueberry-top-left" src="../../../assets/images/blueberry-top-left.png" alt="">
    <img class="buble-top-right" src="../../../assets/images/bubble-top-right.png" alt="">
</div>
