<div class="cake-draw px-32 relative">
    <div class="cake-draw-left">
        <h2>Bánh Vẽ - Bánh Order</h2>
        <div class="base"></div>
        <div class="desc">Bạn muốn có một chiếc bánh thật đặc biệt, mang nét riêng “không đụng hàng” để tặng người thân,
            bạn bè. Hãy
            gửi ý tưởng và bọn mình sẽ giúp bạn làm điều đó!</div>
        <div class="cake-options">
            <h3>Lựa chọn kiểu bánh</h3>
            <div class="flex">
                <div class="w-1/2">
                    <div class="cake-options-img flex">
                        <div class="imgBox">
                            <img src="../../../assets/images/bv1.png" alt="">
                        </div>
                        <div class="imgBox">
                            <img src="../../../assets/images/bv2.png" alt="">
                        </div>
                    </div>
                    <div class="cake-options">
                        <h3>Lựa chọn vị bánh</h3>
                        <div class="cake-options-favor flex flex-col items-center">
                            <div class="favor-card-top flex mb-6">
                                <div class="favor-card flex flex-col items-center mx-4">
                                    <img style="width: 80px;" src="../../../assets/images/berryspan.png" alt="">
                                    <p class="text-center">Cốt Vani <br>+  <br>Mứt việt quất</p>
                                </div>
                                <div class="favor-card flex flex-col items-center mx-4">
                                    <img style="width: 80px;" src="../../../assets/images/strawspan.png" alt="">
                                    <p class="text-center">Cốt Vani <br>+  <br>Mứt việt quất</p>
                                </div>
                                <div class="favor-card flex flex-col items-center mx-4">
                                    <img style="width: 80px;" src="../../../assets/images/mangospan.png" alt="">
                                    <p class="text-center">Cốt Vani <br>+  <br>Mứt việt quất</p>
                                </div>
                                <div class="favor-card flex flex-col items-center mx-4">
                                    <img style="width: 80px;" src="../../../assets/images/cherryspan.png" alt="">
                                    <p class="text-center">Cốt Vani <br>+  <br>Mứt việt quất</p>
                                </div>
                            </div>
                            <div class="favor-card-top flex">
                                <div class="favor-card flex flex-col items-center mx-4">
                                    <img style="width: 80px;" src="../../../assets/images/strawspan.png" alt="">
                                    <p class="text-center">Cốt Vani <br>+  <br>Mứt việt quất</p>
                                </div>
                                <div class="favor-card flex flex-col items-center mx-4">
                                    <img style="width: 80px;" src="../../../assets/images/mangospan.png" alt="">
                                    <p class="text-center">Cốt Vani <br>+  <br>Mứt việt quất</p>
                                </div>
                                <div class="favor-card flex flex-col items-center mx-4">
                                    <img style="width: 80px;" src="../../../assets/images/cherryspan.png" alt="">
                                    <p class="text-center">Cốt Vani <br>+  <br>Mứt việt quất</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-1/2">
                    <img style="transform: translateY(-120px);" src="../../../assets/images/staff-2023-08.png" alt="">
                </div>
            </div>
       
            </div>
     
    </div>
    <div class="cake-draw-right">

    </div>
</div>